.Tab {
	width: calc(100% - 4rem);
	//height: calc(100% - 9rem);
	height: calc(100% - 2rem);

	border-radius: 0.6rem;
	border: 1px solid #b6bfc9;
	border-radius: 0.6rem;

	.innerContent {
		background: #ffffff;

		opacity: 0;

		animation: changeTab 700ms ease-in-out forwards;
	}
}

@keyframes changeTab {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
