.app {
	position: relative;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;

	.mainContainer {
		position: relative;

		height: 100%;

		opacity: 0;
		animation: fadein 500ms 300ms linear forwards;
	}
}

.fadeExitActive {
	& h1 {
		animation: head 300ms linear !important;
	}
	& div:only-child {
		animation: main 300ms linear forwards !important;
	}
}

.authEnterActive {
	animation: none !important;

	section {
		animation: auth 500ms linear alternate-reverse !important;
	}

	div {
		animation: logo 500ms linear alternate-reverse !important;
	}
}

.authExitActive {
	animation: fadein 250ms alternate-reverse !important;

	section {
		animation: auth 500ms linear !important;
	}

	div {
		animation: logo 500ms linear !important;
	}
}

@keyframes head {
	from {
		top: 0rem;
		opacity: 1;
	}
	to {
		top: -2rem;
		opacity: 0;
	}
}

@keyframes main {
	from {
		top: 6rem;
		opacity: 1;
	}
	to {
		top: 10rem;
		opacity: 0;
	}
}

@keyframes auth {
	from {
		opacity: 1;
		top: 50%;
	}
	to {
		top: 100%;
		opacity: 1;
	}
}

@keyframes logo {
	from {
		opacity: 1;
		top: 15%;
	}
	to {
		opacity: 1;
		top: 80%;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
