.Current {
	height: 100%;

	.toggleBlock {
		margin: 2rem 1rem 3rem 1rem;
		border: 1px solid #b6bfc9;
		border-radius: 0.6rem;
	}
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 4rem;

	margin: 2rem 0;

	button {
		width: 15rem;
		margin-right: 3rem;

		&:first-child {
			color: #6697a6;
		}
		&:last-child {
			background: #4592b0;
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 0 2rem;

	border-bottom: 1px solid #b6bfc9;
	background: #f5f5f5;

	.table {
		margin-top: 2rem;

		margin-bottom: 1rem;
		margin-left: 3rem;

		th {
			padding: 0.4rem;
			padding-right: 5rem;
			padding-left: 2rem;

			border-bottom: none;

			font-size: 1.2rem;
		}

		thead {
			background: #ffffff;
			border-bottom: 1px solid #54e0e8;
		}

		tbody {
			background: #edf0f1;
			padding: 1rem;

			th {
				padding-top: 1rem;
				background: #e6e9ea;
			}
		}
	}

	p {
		margin: 0;
		line-height: 4rem;
		text-transform: uppercase;
	}
}

.innerContent {
	overflow-y: auto;
	height: calc(100% - 6rem);
	padding-bottom: 7rem;
}
