.Main {
	.mainWrap {
		position: absolute;
		display: block;
		top: 0;
		left: 7rem;
		width: calc(100% - 7rem);
		height: 100%;
		padding: 2rem;
		transition: all 0.3s ease-in-out;

		opacity: 0;
		animation: main 300ms 1000ms linear forwards;

		&.expanded {
			width: calc(100% - 24rem);
			left: 24rem;
		}

		&.showTitle {
			top: 6rem;
			height: calc(100% - 6rem);
		}
	}

	.pageHeading {
		position: absolute;
		left: 7rem;
		display: block;

		width: calc(100% - 7rem);
		height: 6rem;

		padding-left: 3rem;
		margin: 0;

		font-size: 1.8rem;
		text-align: left;
		line-height: 6rem;
		font-family: "montserratregular", sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		color: #4592b0;
		border-bottom: #fff 1px solid;

		transition: all 0.3s ease-in-out;

		opacity: 0;
		animation: head 300ms 1000ms linear forwards;

		&.expanded {
			left: 24rem;
		}
	}

	.content {
		position: relative;
		height: 100%;
		padding: 0;

		border: 1px solid #b6bfc9;
		border-radius: 0.6rem;
	}
}

@keyframes head {
	from {
		top: -2rem;
		opacity: 0;
	}
	to {
		top: 0rem;
		opacity: 1;
	}
}

@keyframes main {
	from {
		top: 8rem;
		opacity: 0;
	}
	to {
		top: 6rem;
		opacity: 1;
	}
} ;
